span {
    font-weight: bold;
    font-size: 18px;
}

.tab {
    margin-left: 25px;
}

.button {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 12px;
    background-color: #66bafa;
    border-radius: 10px;
}

.grey {
    background-color: silver;
}

h1 {
    margin: 30px 0px;
    color: red;
}

.error {
    color: purple;
}

.red {
    background-color: red;
}
